body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;

    display: flex;
}

.container{
    display: flex;
    /* !!! */
    flex-direction: column;
    /* !!! */
    justify-content: center;
    width: 80%;
    gap: 50px;
}
.box {
    width: 600px;
    background-color: chartreuse;
    border-radius: 5px;
}